@import (css) "/fonts/material-icons.css";

//@import "partials/timersPanel.less";
//@import "partials/logsPanel.less";

html, body { 
  height:100%;
  width: 100%;
  margin:0;
  padding:0;
  overflow: hidden;
}

body {
  //padding: 10px;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
}

.app-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  font-size: 2.1rem;
  padding: 0;

  i.material-icons {
    display: block;
    float: left;
    margin: 0 15px;
    font-size: 48px;
  }

  i.app-label  {
    display: block;
    float: left;
    font-size: 38px;
  }
}

main {
  flex: 1 1 auto; 
  
  display: flex;
  align-items: stretch;
}

.page-footer {
  height: 30px;
}