body {
  padding: 10px;
  font-family: sans-serif;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  overflow: hidden;
} 

main {
  flex: 1 0 auto; 
}

.page-footer {

}

.timer-card-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-between;

  margin: 0;
  padding: 0;

  overflow-y: auto; 
}

.timer-card {
  flex: 0 1 calc(25% - 1em);
  text-align: center;

  .card-content {
    cursor: pointer;
  }

  .card-title {
    font-size: 3em;
  }
  .time {
    text-align: center;
    font-size: 4.2em;
  }
  .toggle-running-btn {
    display: inline-block;
  }
}



// @media screen and (min-width: 60em) {
//   .timer-card {
//       flex: 0 1 calc(50% - 1em);
//   }
// }

// @media screen and (min-width: 80em) {
//   .timer-card {
//       flex: 0 1 calc(25% - 1em);
//   }
// }