
<template name="logsPanel">
    {{#if currentUser}}
        <div class="filter-form grey lighten-3">
            <div class="row">
                <div class="input-field col s4">
                    <select class=" timerFilter" id="timerFilter">
                        <option value="" disabled selected>select timer</option>
                        <option value="">all</option>
                        {{#each timers}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <label>Timer</label>
                </div>
                <div class="input-field col s4">
                <input id="startDateFilter" type="date" class="datepicker">
                <label for="startDateFilter">Start Date</label>
                </div>
                <div class="input-field col s4">
                    <input id="endDateFilter" type="date" class="datepicker">
                    <label for="endDateFilter">End Date</label>
                </div>
            </div>
            <script>
                this.$('select').material_select();
                this.$('#startDateFilter').pickadate({
                    //format: 'dd.mm.yyyy',
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    onStart: function() {
                        var date = new Date();
                        this.set('select', [date.getFullYear(), date.getMonth(), 1 /*date.getDate()*/]);
                    }
                    // closeOnSelect: false // Close upon selecting a date,
                });
                this.$('#endDateFilter').pickadate({
                    //format: 'dd.mm.yyyy',
                    selectMonths: true, // Creates a dropdown to control month
                    selectYears: 15, // Creates a dropdown of 15 years to control year
                    onStart: function() {
                        var date = new Date();
                        this.set('select', [date.getFullYear(), date.getMonth(), date.getDate()]);
                    }
                    // closeOnSelect: false // Close upon selecting a date,
                });
            </script>
        </div>
        <main class="log-entry-container"> 
            <div class="row">
                <div class="col s8">
                    <table id="log-data-table" class="striped log-data">
                        <thead>
                            <tr>
                                <th>Timer</th>
                                <th>User</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Duration</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each filteredLogs}}
                                {{> logEntry}}
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="col s4">                
                    <ul> 
                        {{#each timerTotals}}
                            <li>{{name}}: {{formatTotalTime}}</li>
                        {{/each}}
                    </ul>
                    total filter result: {{filteredLogCount}}
                    <nav>
                        <ul class="pager">
                            <li class="{{prevPageClass}}">
                                <a id="prevPage" href="{{prevPage}}">
                                <span aria-hidden="true">&larr;</span> Previous
                                </a>
                            </li>
                            <li class="{{nextPageClass}}">
                                <a id="nextPage" href="{{nextPage}}">
                                Next <span aria-hidden="true">&rarr;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </main>
        <script>
            // this.$('#log-data-table').pageMe({
            //     pagerSelector:'#myPager',
            //     activeColor: 'blue',
            //     prevText:'Anterior',
            //     nextText:'Siguiente',
            //     showPrevNext:true,
            //     hidePageNumbers:false,
            //     perPage:10
            // });
        </script>
        {{initialize}}
    {{else}}
        <div>
            Please log in to access logs
        </div>
    {{/if}}
</template>

<template name="logEntry">
    <tr>
        <td>{{timerName}}</td>
        <td>{{userName}}</td>
        <td>{{startTime}}</td>
        <td>{{endTime}}</td>
        <td>{{runTime}}</td>
        <td>
            <a class="delete-btn red waves-effect waves-light btn"><i class="material-icons">delete</i></a> 
        </td>
    </tr>
</template>