
<template name="logsPanel">
    {{#if currentUser}}
        <div class="filter-form grey lighten-3">
            <div class="row">
                <div class="input-field col s4">
                    <select class=" timerFilter" id="timerFilter">
                        <option value="" disabled selected>select timer</option>
                        <option value="">all</option>
                        {{#each timers}}
                            <option value="{{_id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <label>Timer</label>
                </div>
                <div class="input-field col s4">
                <input id="startDate" type="date" class="datepicker">
                <label for="startDate">Start Date</label>
                </div>
                <div class="input-field col s4">
                    <input id="endDate" type="date" class="datepicker">
                    <label for="endDate">End Date</label>
                </div>
            </div>
            <script>
                this.$('select').material_select();
                this.$('.datepicker').pickadate({
                    selectMonths: true, // Creates a dropdown to control month
                    // selectYears: 15, // Creates a dropdown of 15 years to control year,
                    // today: 'Today',
                    // clear: 'Clear',
                    // close: 'Ok',
                    // closeOnSelect: false // Close upon selecting a date,
                    // container: undefined, // ex. 'body' will append picker to body
                });
            </script>
        </div>
        <main class="log-entry-container"> 
            <table class="striped">
                <thead>
                    <tr>
                        <th>Timer</th>
                        <th>User</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th>Duration</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each logs}}
                        {{> logEntry}}
                    {{/each}}
                </tbody>
            </table>
        </main>
        {{initialize}}
    {{else}}
        <div>
            Please log in to access logs
        </div>
    {{/if}}
</template>

<template name="logEntry">
    <tr>
        <td>{{timerName}}</td>
        <td>{{userName}}</td>
        <td>{{startTime}}</td>
        <td>{{endTime}}</td>
        <td>{{runTime}}</td>
        <td>
            <a class="delete-btn red waves-effect waves-light btn"><i class="material-icons">delete</i></a> 
        </td>
    </tr>
</template>