
<template name="settingsPanel">
    {{#if currentUser}}
        <div class="settingsPanel">
            <table id="settings-table" class="striped">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {{#each settings}}
                    <tr>
                        <td>{{name}}</td>
                        <td>
                            {{>resValueTemplate}}
                        </td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div>
            Please log in to access logs
        </div>
    {{/if}}
</template>

<template name="settingValueString">
    String
</template>

<template name="settingValueBoolean">
    <div class="switch">
        <label>
            Off
            <input type="checkbox" {{checked}}>
            <span class="lever"></span>
            On
        </label>
    </div>
</template>

<template name="settingValueNumber">
    <p class="range-field">
        <input type="range" min="10" max="100" value="{{value}}"/>
    </p>
</template>

<template name="settingValueTime">
    <div class="input-field col s6">
        <input id="hours" type="text" class="validate" value="{{hours}}">
        <label for="hours">Hours</label>
    </div>
    <div class="input-field col s6">
        <input id="minutes" type="text" class="validate" value="{{minutes}}">
        <label for="minutes">Minutes</label>
    </div>
    <div class="input-field col s6">
        <input id="seconds" type="text" class="validate" value="{{seconds}}">
        <label for="seconds">Seconds</label>
    </div>
</template>