
<template name="settingsPanel">
    {{#if currentUser}}
        <div class="settingsPanel">
            <table id="settings-table" class="striped">
                <thead>
                    <tr>
                        <th>Property</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                {{#each settings}}
                    <tr>
                        <td>{{name}}</td>
                        <td> {{value}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
    {{else}}
        <div>
            Please log in to access logs
        </div>
    {{/if}}
</template>

<template name="settingRecord">
    <div class="setting-row">

    </div>
</template>