
<template name="timersPanel">
    {{#if currentUser}}
    <nav class="grey lighten-3">
        <ul class="adim-menu right">
            <a href="#addTimerDialog" class="waves-effect waves-light btn modal-trigger"><i class="material-icons">add</i></a>
            <a class="stop-all-timers-btn blue-grey darken-4 waves-effect waves-light btn"><i class="material-icons">stop</i></a>
            <a class="reset-all-timers-btn blue waves-effect waves-light btn"><i class="material-icons">highlight_off</i></a>
        </ul>
    </nav>
    {{/if}}
    <main class="timer-card-container">
        {{#each timers}}
            {{> timer}}
        {{/each}}
    </main>
    <!-- Modal Structure -->
    <div id="addTimerDialog" class="modal">
        <div class="modal-content">
            <h4>Create Timers</h4>
            <form class="new-timer">
            <input type="text" name="text" placeholder="name for new timer and press enter"/>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
        </div>
    </div>
</template>

<template name="timer">
    <div class="timer-card">
        <div class="col s12 m6">
            <div class="card blue-grey darken-1">
                <div class="card-title blue-grey darken-2 white-text">{{name}}</div>
                <div class="card-content white-text">
                    <div class="time">{{formattedTime}}</div>
                    <a class="toggle-running-btn btn-floating btn-large waves-effect waves-light red"><i class="material-icons">
                    {{#if running}}
                        pause_circle_filled
                    {{else}}
                        play_circle_filled
                    {{/if}}
                    </i></a>
                </div>
                {{#if currentUser}}
                    <div class="card-action row blue-grey darken-2">
                        <div class="col s6">
                        <a class="delete-btn red left waves-effect waves-light btn"><i class="material-icons">delete</i></a>
                        </div>
                        <div class="col s6">
                        <a class="reset-btn blue right waves-effect waves-light btn"><i class="material-icons">highlight_off</i></a>
                        </div>
                    </div>
                {{/if}}
            </div> 
        </div>
    </div>
</template>