<template name="mainLayout">
    <header id="header" class="page-topbar blue-grey darken-2">
        <nav>
            <div class="nav-wrapper blue-grey darken-2">
                <a href="#" class="brand-logo">Time-Tracker</a>
                    
                <ul id="nav-mobile" class="center hide-on-med-and-down">
                    {{> loginButtons}} 
                </ul>
            </div>
        </nav>
    </header>
    <main>
        {{> Template.dynamic template=content}}
    </main>
    <footer class="page-footer blue-grey darken-2">
      
    </footer>
</template>